{% extends "./base.html" %}
{% block title %}
    Modelado
{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({ startOnLoad: true });
    </script>
    <center>
        <img src="../static/logo.png">
        <h1>Modelado de Proyecto SITU - LOJA -</h5>
        <div class="row" style="text-align:center;margin-left:auto;margin-right:auto;">
            <div class="col s10 offset-s1" style="">
                <div class="card" style="display:block">
                    <div class="card-content">
                        <div class="mermaid">
                            classDiagram

                            class Persona{
                                -String nombre
                                -String apellido
                                -String telefono
                            }

                            class Pasajero{
                                -String tipo
                            }
                            Persona <|-- Pasajero

                            class Conductor{
                                -String licencia
                                +IsEnabe()
                            }
                            Persona <|-- Conductor

                            class Bus{
                                -int numero
                                -String placa
                                -int cooperativa
                                +IsEnabe()
                            }
                            Bus <-- Conductor : asigna

                            class Tarjeta{
                                -Bigdecimal saldo
                                -String numcard
                            }
                            Tarjeta <-- Persona : tiene
                            Tarjeta "1..*" --> "1" Bus : accede

                            class Turno{
                                -Datelocal fecha
                                -Datelocal hora
                            }
                            Bus "1" --> "1..*" Turno : cumple

                            class Viaje{
                                -Bigdecimal costo
                                -int cantidad
                                -Datelocal fecha_viaje
                                -String tipo                                
                            }
                            Bus "1" --> "1..*" Viaje : realiza
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
    <p>Paulo Jara Paltin</p>
    <h3>Programa de Maestria de Ingenieria en Software</h3>
    <h3>Desarrollo de Software en Ambientes Cloud</h3>
    <p>2022-Octubre</p>
    <img src="../static/unlFEIRNNR2.jpg" style="height: 100px; width:300px;">
{% endblock body %}